{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block heading %}Log in{% endblock %}

{% block content %}

    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <p>
    <form action="" method="post">
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value="Log In" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>
    </p>

    <p>
    What, you're not registered? Click <a href="/register/">here</a> then, and
    take care of that, okay?
    </p>

{% endblock %}
