{% extends "base.html" %}

{% block title %}Your Profile{% endblock %}

{% block heading %}It's all about you.{% endblock %}

{% block content %}

<span class="edit_profile">
[<a href="/profile/edit/">edit profile</a>]
</span>

<p>
{% if user.get_profile.byline %}
    <strong>{{ user.get_profile.byline }}</strong>
{% else %}
    <div class="notice">No byline set. We'll just show your username until you
      set one in your profile.</div>
{% endif %}
</p>

<p>
{% if user.get_profile.author_bio %}
    {{ user.get_profile.author_bio|linebreaks }}
{% else %}
    <div class="notice">You haven't added an author bio yet. Why not click the
      link above and tell us a bit about you?</div>
{% endif %}
</p>

<h2>Stories</h2>

<span class="add_story">
[<a href="/stories/new/">new story</a>]
</span>

{% if stories %}
    <ul>
        {% for story in stories %}
        <li><a href="/stories/{{ story.id }}/">{{ story.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>You haven't written anything yet. Add a story!</p>
{% endif%}

{% endblock %}
