{% extends "base.html" %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block heading %}This is your fucking profile, {{ user.username }}{% endblock %}

{% block content %}

<h2>About you</h2>

<span class="edit_profile">
(<a href="/profile/edit/">edit</a>)
</span>

<p>
{{ user.get_full_name }}
</p>

<p>
{{ user.get_profile.profile|linebreaks }}
</p>

<h2>Your stories</h2>

<span class="add_story">
(<a href="/stories/new/">add story</a>)
</span>

{% if stories %}
    <ul>
        {% for story in stories %}
        <li><a href="/stories/{{ story.id }}/">{{ story.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>You haven't written anything yet! Shit, man! Hurry up! Add a story!</p>
{% endif%}

{% endblock %}
