{% extends "base.html" %}

{% block title %}{{ author.get_profile }}{% endblock %}

{% block heading %}{{ author.get_profile }}{% endblock %}

{% block content %}

<p>
{% if author.get_profile.author_bio %}
    {{ author.get_profile.author_bio|linebreaks }}
{% else %}
    We don't know anything about this person 'cause they haven't filled out
    their profile yet.
{% endif %}
</p>

<h2>Stories</h2>

{% if stories %}
    <ul>
        {% for story in stories %}
        <li><a href="/stories/{{ story.id }}/">{{ story.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>This deadbeat doesn't seem to have written anything yet!</p>
{% endif%}

{% endblock %}
