{% extends "base.html" %}

{% block title %}{{ author.get_full_name }}'s Author Page{% endblock %}

{% block heading %}{{ author.get_full_name }}'s Author Page{% endblock %}

{% block content %}

<h2>About {{ author.first_name }}</h2>

<p>
{% if author.get_profile.profile %}
    {{ author.get_profile.profile|linebreaks }}
{% else %}
    We don't know anything about this person 'cause they haven't filled out
    their profile yet.
{% endif %}
</p>

<h2>{{ author.first_name }}'s Stories</h2>

{% if stories %}
    <ul>
        {% for story in stories %}
        <li><a href="/stories/{{ story.id }}/">{{ story.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>This deadbeat doesn't seem to have written anything yet!</p>
{% endif%}

{% endblock %}
