/*
 * main layout shit
 */
body {
    font-family: 'Palatino', 'Palatino Linotype', 'Palladio Uralic', 'Georgia', serif;
/*    font-size: 17px; */
}

section {
    font-size: 130%;
}

h1 {
    font-size: 220%;
}

h2, h3 {
    font-size: 160%;
}

p {
    margin-bottom: 1.2em;
}

#main_header {
    float: left;
    font-size: 40px;
    border: 2px solid black;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
}

#main_header a {
    color: black;
}

#main_header a:hover {
    text-decoration: none;
}

#top_separator {
  float: left;
  text-align: center;
  margin-left: 260px;
  margin-bottom: -1px;
  width: 550px;
}

#navbar {
    float: right;
    margin: 0;
    padding: 0;
    margin-top: 22px;
    margin-right: 20px;
}

#navbar li {
    font-size: 140%;
    list-style-type: none;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    margin: 0;
}

.container {
    width: 800px;
    margin-top: 15px;
}

#main_content {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

#footer {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
}

.page_title {
    margin-bottom: 20px;
    margin-left: -60px; /* cheater! */
}

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 250px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 200%;
    margin-bottom: 20px;
}


/*
 * links
 */
a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
/*    color: blue; */
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/*
 * story, author, profile shit
 */
.author_name {
    font-style: italic;
    font-size: 150%;
}

.story_text {
    font-size: 95%;
    line-height: 1.6em;
}

.story_par {
/*    margin-top: 20px;  */
}

.story_list li {
    margin-top: 15px;
    font-size: 95%;
}

.edit_story {
    font-style: italic;
    font-size: 90%;
}

.edit_profile {
    font-style: italic;
    font-size: 90%;
    float: right;
}

.add_story {
    font-style: italic;
    font-size: 90%;
    float: right;
}


/*
 * comments
 */
.comment_break {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 40px;
}

.comment_list {
    margin-left: 30px;
}

.comment {
    margin-bottom: 50px;
}

.comment_form {
    margin-left: 30px;
}

p.comment_time {
    color: gray;
    font-size: 12px;
}


/*
 * make stuff round!
 */
.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

/*
 * error-ey stuff
 */
ul.errorlist {
    float: right;
    color: red;
}
form td {
    color: gray;
    font-style: italic;
}
