{% extends "base.html" %}

{% block title %}Browse stories{% endblock %}

{% block heading %}Browse the stories.{% endblock %}

{% block content %}

{% if stories %}
    <table>
        {% for story in stories %}
        <tr>
          <td>
            <a href="/stories/{{ story.id }}/">{{ story.title }}</a> <br />
            by {{ story.author.get_profile }}
          </td>
        </tr>
        {% endfor %}
    </table>

{% else %}
    <p>Whoa, there aren't any stories here?</p>
{% endif %}

{% endblock %}
