{% extends "base.html" %}
{% load comments %}

{% block title %}Browse stories{% endblock %}

{% block heading %}Browse the stories.{% endblock %}

{% block content %}

{% if stories %}
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Comments</th>
        </tr>
        {% for story in stories %}
        <tr>
          <td>
              <a href="/stories/{{ story.id }}/">{{ story.title }}</a> <br />
          </td>
          <td>
              <a href="/authors/{{ story.author.id }}/">{{ story.author.get_profile }}</a>
          </td>
          <td style="text-align: center;">
              {% get_comment_count for story as comments %}
              {{ comments }}
          </td>
        </tr>
        {% endfor %}
    </table>

{% else %}
    <p>Whoa, there aren't any stories here?</p>
{% endif %}

{% endblock %}
