{% extends "base.html" %}

{% load comments %}

{% block title %}{{ story.title }}{% endblock %}

{% block heading %}{{ story.title }}{% endblock %}

{% block content %}

<h2 class="author_name">by <a href="/authors/{{ story.author.id }}/">{{ story.author.get_profile }}</a></h2>

{% if own_story %}
<p class="edit_story">
[<a href="/stories/{{ story.id }}/edit/">edit story</a> / 
<a href="/stories/{{ story.id }}/delete/">delete story</a>]
</p>
{% endif %}

{% if story.author_note %}
    <blockquote class="author_note">
        <strong>Author's note:</strong> {{ story.author_note }}
    </blockquote>
{% endif %}

<div class="story_text">
    {{ story.text|linebreaks }}
</div>

<hr class="comment_break">

<a name="comments_section"><h2 class="comment_title">Feedback</h2></a>

<div class="comment_list">
    {% get_comment_list for story as comment_list %}

    {% if not comment_list %}
    <p>
    No feedback yet. Why not leave some?
    </p>
    {% endif %}

    {% for comment in comment_list %}
    <div class="comment">
        <p class="comment_author">
        <a href="/authors/{{ comment.user.id }}/">{{ comment.user.get_profile }}</a> said:
        </p>

        <blockquote class="comment_text">
        {{ comment.comment|linebreaks }}
        </blockquote>

        <p class="comment_time">
        {{ comment.submit_date|timesince }} ago
        </p>
    </div>
    {% endfor %}
</div>

<h2 class="comment_title">Post new feedback</h2>

<div class="comment_form">
    {% if user.is_authenticated %}
        {% render_comment_form for story %}
    {% else %}
        Please <a href="/login/?next=/stories/{{ story.id }}/#comments_section">log in</a> to post comments.
    {% endif %}
</div>

{% endblock %}
