<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>fict.us | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

<div class="container">

    <header>
        <div id="main_header" class="round">
          <a href="/">fict.us | <span class="quiet">alpha</span></a>
        </div>

        <ul id="navbar">
            <li><a href="/">home</a></li>
            <li><a href="/stories/">stories</a></li>
            <li><a href="/authors/">authors</a></li>
            <li><a href="/search/">search</a></li>
            <li><a href="/about/">about</a></li>
            <li> | </li>
            {% if user.is_authenticated %}
                <li><a href="/profile/">profile</a></li>
                <li><a href="/logout/">logout</a></li>
            {% else %}
                <li><a href="/login/">login</a></li>
            {% endif %}
        </ul>

        <!--        <hr id="top_separator"> -->
    </header>

    <section>
        <div id="main_content">

        <h1 class="page_title">{% block heading %}{% endblock %}</h1>

        {% block content %}{% endblock %}

        </div> <!-- main_content -->
    </section>

    <footer>
        <div id="footer" class="small quiet">
            <hr>
            Copyright &copy; 2011 Your Mom, LLC.
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
