<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Workshop | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<div id="outer_container">

    <div id="main_header">
        Workshop: Alpha
    </div>

    <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/stories/">Stories</a></li>
        <li><a href="/authors/">Authors</a></li>
        <li><a href="/search/">Search</a></li>
        <li><a href="/about/">About</a></li>
        <li> | </li>
        {% if user.is_authenticated %}
            <li><a href="/accounts/profile/">Profile</a></li>
            <li><a href="/accounts/logout/">Log out</a></li>
        {% else %}
            <li><a href="/accounts/login/">Log in</a></li>
        {% endif %}
    </ul>

    <div id="main_content">

    <h1 class="page_title">{% block heading %}{% endblock %}</h1>

    {% block content %}{% endblock %}

    </div> <!-- main_content -->

    {% block footer %}
    <div id="footer">
        <hr>
        Copyright &copy; 2011 Your Mom, LLC.
    </div>

</div> <!-- outer container -->
    {% endblock %}
</body>
</html>

