{% extends "base.html" %}

{% block title %}Edit story{% endblock %}

{% block heading %}Edit this story?{% endblock %}

{% block content %}

<p>
Edit your story here. This would also be a good place for some notes about
formatting and a link to some help docs. But not yet!
</p>

{% if form.errors %}
    <p class="form_error">
    Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}    

<form action="" method="post">
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>

{% endblock %}
