{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block heading %}Workshop your fucking heart out.{% endblock %}

{% block content %}

<p>
You know you want to. You want to write a story and have a panel of like-minded
authors rip it to shreds. Feedback! That's what it's all about. Well you're
lucky: you've come to the right place.
</p>

<a href="/register/" class="signup_button round">sign up now</a>

<p>
'Cause once you do, you'll get (and give!) a shitload of feedback. You'll
workshp stories, you'll get your stories workshopped&mdash;it'll be great.
Nothing will improve your writing like honest feedback.
</p>

{% endblock %}
