{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block heading %}Time for workshopping?!{% endblock %}

{% block content %}

<p>
Hey, this is a site. Are you here? Do you like it? I expected you might. I am
going to stop typing now.
</p>

<ul>
    <li><a href="/stories/">Check out some stories</a></li>
    <li><a href="/authors/">Check out some authors</a></li>
</ul>

<p>
Okay, be sure to come back later, yeah? I plan on figuring out how the fuck all
this shit works, and then creating something neato bobeeto.
</p>

<p>
Love, <br />
K
</p>

{% endblock %}
