{% extends "base.html" %}

{% block title %}New story{% endblock %}

{% block heading %}Add a new story{% endblock %}

{% block content %}

<p>
Add your story here. I'll have some more explanation here about formatting and
shit later. For now, just paste it in and give it a shot!
</p>

{% if form.errors %}
    <p class="form_error">
    Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}    

<form action="" method="post">
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>

{% endblock %}
