{% extends "base.html" %}

{% block title %}View some stories{% endblock %}

{% block heading %}Stories, man{% endblock %}

{% block content %}

<p>
Here are all the stories that exist RIGHT NOW. Shit.
</p>

{% if stories %}
    <ul class="story_list">
        {% for story in stories %}
        <li>
            <a href="/story/{{ story.id }}/">{{ story.title }}</a> <br />
            by {{ story.author }}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Whoa, there aren't any stories here?</p>
{% endif %}

{% endblock %}
