{% extends "base.html" %}

{% block title %}{{ story.title }}{% endblock %}

{% block heading %}{{ story.title }}{% endblock %}

{% block content %}

<h2 class="author_name">by <a href="/author/{{ story.author.id }}/">{{ story.author.get_full_name }}</a></h2>

<p class="edit_story">
{% if own_story %}
(<a href="/story/{{ story.id }}/edit/">edit this story</a>)
{% endif %}
</p>

<div class="story_text">
    {# TODO: Have to make sure this is sanitized BEFORE it's output here #}
    {{ story.web_output|safe }}
</div>

{% endblock %}
