{% extends "base.html" %}

{% load comments %}

{% block title %}{{ story.title }}{% endblock %}

{% block heading %}{{ story.title }}{% endblock %}

{% block content %}

<h2 class="author_name">by <a href="/author/{{ story.author.id }}/">{{ story.author.get_full_name }}</a></h2>

{% if own_story %}
<p class="edit_story">
(<a href="/story/{{ story.id }}/edit/">edit this story</a>)
</p>
{% endif %}

<div class="story_text">
    {{ story.text|linebreaks }}
</div>

<hr class="comment_break">

<a name="comments_section"><h2 class="comment_title">Feedback</h2></a>

<div class="comment_list">
    {% get_comment_list for story as comment_list %}

    {% if not comment_list %}
    No feedback yet. Why not leave some?
    {% endif %}

    {% for comment in comment_list %}
    <div class="comment">
        <p class="comment_author">
        <a href="/author/{{ comment.user.id }}/">{{ comment.user }}</a> said:
        </p>

        <p class="comment_text">
        {{ comment.comment|linebreaks }}
        </p>

        <p class="comment_time">
        {{ comment.submit_date|timesince }} ago
        </p>
    </div>
    {% endfor %}
</div>

<h2 class="comment_title">Post new feedback</h2>

<!-- TODO: ONLY POST COMMENT IF LOGGED IN! -->
<div class="comment_form">
    {% if user.is_authenticated %}
        {% render_comment_form for story %}
    {% else %}
        Please <a href="/accounts/login/?next=/story/{{ story.id }}/#comments_section">log in</a> to post comments.
    {% endif %}
</div>

{% endblock %}
