{# Copied from default from, want to hide most form elements. #}

{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}

        {# Hide name, email, and URL. Kind of a hacky way to go about it, but it works. #}
        {% ifequal field.name "name" %} style="display:none;"{% endifequal %}
        {# Email is actually required, fill it in with real email info #}
        {% ifequal field.name "email" %} style="display:none;" value="{{ user.email }}"{% endifequal %}
        {% ifequal field.name "url" %} style="display:none;"{% endifequal %}>
        {{ field }}
      </p>
    {% endif %}
  {% endfor %}
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
    {# Don't want a preview button #}
  </p>
</form>
